// font //
$ff-main: 'Space Grotesk', sans-serif;

// font size//
$fs-main: 3rem;
$fs-sub: 1.3rem;

$fs-200: 2.1rem;
$fs-100: 1.1rem;


// font weight//
$fw-500: 500;

// color //
$color-main: hsl(279, 6%, 55%);
$color-sub: hsl(270, 3%, 87%);
$color-sub-m: hsl(216, 12%, 54%);
$color-bg:  hsl(0, 0%, 100%); 
$color-btn:  hsl(278, 68%, 11%);
$color-error:hsl(0, 100%, 66%);
$color-thanks: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));

// dafault margin //

$dm__card: -30rem;












