@use '../abstracts/variables' as a;

.btn {
  background: a.$color-btn;
  border-radius: 1rem;
  height: 5rem;
  font-size: a.$fs-200;
  color: white;
  transition: all .1s;
  &:hover {
    cursor: pointer;
    transform: translateY(-.1rem);
  }
}